<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <a href="/">Home</a>


    <h1>Autor de la práctica</h1>

    <p>Roberto Guerrero Valdés</p>

    <img src="/images/img1.png" width="235"/>

</body>
</html>
